<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <header>
        <h1>Warrens Kitchen</h1>
    </header>
    <main>
    <h1>Menu</h1>
    <ul>
        {% for menu in menus %}
        <li>
            <h2>{{ menu.name }}</h2>
            <p>{{ menu.description }}</p>
            <h3>Items:</h3>
            <ul>
                {% for item in menu.items.all %}
                <li>
                    {{ item.name }} (£{{ item.price }})
                </li>
                <li>{{ item.description }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</main>
<footer>
    <h1>Footer</h1>
</footer>
</body>

</html>