{% extends "base.html" %}


{% block content %}
    <main>
    <h1>Menu</h1>
    <ul>
        {% for menu in menus %}
        <li>
            <h2>{{ menu.name }}</h2>
            <p>{{ menu.description }}</p>
            <h3>Items:</h3>
            <ul>
                {% for item in menu.items.all %}
                <li>
                    {{ item.name }} (£{{ item.price }})
                </li>
                <li>{{ item.description }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</main>

{% endblock %}