{% url 'home' as home_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Warrens Kitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav>
        <h1>Warrens Kitchen</h1>
        <p>Home</p>
        <p>Menu</p>
        <p>Book a table</p>
    </nav>

    <main>

        {% block content %}
        <!-- Content Goes here -->
         <h1>Main Content</h1>
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer>
        <h1>footer</h1>
    </footer>


</body>

</html>